{% extends 'base.html' %}

{% block content %}
<div id="game-container">
    <div id="sentence-container">
        <span id="display-text"></span>
    </div>
    <div id="card-container">
        <div id="emoji-display"></div>
    </div>
    <div id="letter-container">
        <div class="letter-box"><span id="previous-letter"></span></div>
        <div class="letter-box"><span id="letter-display"></span></div>
        <div class="letter-box"><span id="next-letter"></span></div>
    </div>
</div>
{% endblock %}

<script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>